<ion-header>
	<ion-navbar>
		<ion-title>Home</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<svg xmlns="http://www.w3.org/2000/svg" width="185" height="520" viewBox="0 0 185 520" style="position: absolute; left: 50%; transform: translateX(-50%)">
		<path fill="none" fill-rule="evenodd" stroke="#FFF" stroke-opacity="0" stroke-width="7" d="M92.883 0c50.309 45.115 90.387 83.954 92.05 125.456C188.961 221.766 9.548 288.842 0 383.462 0 420.975 9.548 444.503 92.883 520"
		/>
	</svg>
	<svg viewBox="0 0 600 1200">
		<!-- <path class="path" d="M 300 50 C 50 250 550 250 300 450 C 50 650 550 650 300 850 C 50 1050 550 1050 300 1250" /> -->
		<path class="path" d="M 300 50 C 700 250 -100 250 300 450 C700 650 -100 650 300 850" />
    <ng-container *ngFor="let item of svgJson; let i = index">
      <g>
        <circle [attr.cx]="item.x" [attr.cy]="item.y + (100 * i)" [attr.r]="item.size" [attr.class]="'circle ' + item.color"></circle>
        <text *ngIf="item.size === size.lg" dy="-2.5em" [attr.x]="item.x" [attr.y]="item.y + (100 * i)" fill="white" dominant-baseline="middle" text-anchor="middle" class="small">{{item.topText}}</text>
        <text [attr.x]="item.x" [attr.y]="item.y + (100 * i)" dominant-baseline="middle" text-anchor="middle" fill="white" class="count" [ngClass]="{'lg': item.size === size.lg, 'md': item.size === size.md}">{{item.text}}</text>
        <text dy="2.5em" *ngIf="item.size === size.lg" [attr.x]="item.x" [attr.y]="item.y + (100 * i)" fill="white" dominant-baseline="middle" text-anchor="middle" class="small">{{item.bottomText}}</text>
      </g>
    </ng-container>
		<!--g>
			<circle cx="300" cy="52" r="50" class="circle"></circle>
			<text x="300" y="52" dominant-baseline="middle" text-anchor="middle" fill="white" class="count md">50</text>			
		</g>
		<g (click)="openTaskView()">
			<circle cx="400" cy="150" r="60" class="circle green"></circle>
			<text dy="-2.5em" x="400" y="150" fill="white" dominant-baseline="middle" text-anchor="middle" class="small">KEEP GOING...</text>
			<text x="400" y="150" dominant-baseline="middle" text-anchor="middle" fill="white" class="count lg">45</text>
			<text dy="2.5em" x="400" y="150" fill="white" dominant-baseline="middle" text-anchor="middle" class="small">20% Completed</text>
		</g>
		<g>
			<circle cx="300" cy="250" r="45" class="circle blue"></circle>
			<image xlink:href="assets/icons/done.svg" x="320" y="210" height="36" width="36"></image>
			<text x="300" y="250" dominant-baseline="middle" text-anchor="middle" fill="white" class="count">35</text>
		</g>
		<g>
			<circle cx="190" cy="350" r="45" class="circle blue"></circle>
			<image xlink:href="assets/icons/done.svg" x="210" y="310" height="36" width="36"></image>
			<text x="190" y="350" dominant-baseline="middle" text-anchor="middle" fill="white" class="count">30</text>
		</g>
		<g>
			<circle cx="300" cy="450" r="45" class="circle blue"></circle>
			<image xlink:href="assets/icons/done.svg" x="320" y="410" height="36" width="36"></image>
			<text x="300" y="450" dominant-baseline="middle" text-anchor="middle" fill="white" class="count">25</text>
		</g>
		<g>
			<circle cx="400" cy="550" r="45" class="circle blue"></circle>
			<image xlink:href="assets/icons/done.svg" x="420" y="510" height="36" width="36"></image>
			<text x="400" y="550" dominant-baseline="middle" text-anchor="middle" fill="white" class="count">20</text>
		</g>
		<g>
			<circle cx="300" cy="650" r="45" class="circle blue"></circle>
			<image xlink:href="assets/icons/done.svg" x="320" y="610" height="36" width="36"></image>
			<text x="300" y="650" dominant-baseline="middle" text-anchor="middle" fill="white" class="count">15</text>
		</g>
		<g>
			<circle cx="190" cy="750" r="45" class="circle blue"></circle>
			<image xlink:href="assets/icons/done.svg" x="210" y="710" height="36" width="36"></image>
			<text x="190" y="750" dominant-baseline="middle" text-anchor="middle" fill="white" class="count">10</text>
		</g>
		<g>
			<circle cx="300" cy="850" r="45" class="circle blue"></circle>
			<image xlink:href="assets/icons/done.svg" x="320" y="810" height="36" width="36"></image>
			<text x="300" y="850" dominant-baseline="middle" text-anchor="middle" fill="white" class="count">5</text>
		</g-->
	</svg>

</ion-content>