ion-content {
  --background: #009FDB;
  font-family: 'LuckiestGuy';
}

.custom-popover {
  width: 250px;
  height: 138px;
  border-radius: 30px;
  top:50%!important;
  bottom: 0px!important;
  left: 105px!important;
}
.background {
  background: url('/assets/images/pattern.svg') 50% 50% repeat-y;
}
#currentGroup {
  transition: all 0.3s ease;
}
canvas {
  width: 100%;
}
svg {
  display: block;
  margin: 60px auto 0;
  max-width: 620px;
  width: 100%;
}
g {
  cursor: pointer;
}
.content-md {
  background: #c00db8;
}
.path {
  fill: none;
  stroke: rgba($color: #ffffff, $alpha: 0.3);
  stroke-width: 4px;
  stroke-linecap: round;
}
.circle {
  fill: #0057b8;
  stroke: #fff;
  stroke-width: 3px;
  stroke-linecap: round;
  box-shadow: 0 0 60px rgba($color: #000000, $alpha: 0.2)
}
.green {
  fill: #3da930;
}
.blue {
  fill: #004491
}
.count {
  font-family: LuckiestGuy;
  &.lg {
    font-size: 43px;
  }
  &.md {
    font-size: 33px
  }
  font-size: 25px;
}

.progress {
  font-size: 7px;
  font-weight: bold;
  text-transform: uppercase;
}
.small {
  font-size: 12px;
  font-family: LuckiestGuy;
  text-transform: uppercase;
}
.rect-text {
  font-size: 14px;
  font-family: LuckiestGuy;
  text-transform: uppercase;
}